In [1]:
#import required modules
import os
import numpy as np
import pandas as pd

In [7]:
#read in the csv files
parent_dir=os.path.join('/Volumes/motilin/balint/numt/mice_strains_numt/gene_ids/')
dfs=pd.Series(os.listdir('/Volumes/motilin/balint/numt/mice_strains_numt/gene_ids/')).apply(
lambda filename: pd.read_csv(parent_dir+filename) if filename.count('.')==1 else print(filename))
dfs.index=pd.Series(os.listdir('/Volumes/motilin/balint/numt/mice_strains_numt/gene_ids/')).apply(
    lambda filename:filename[:-4])
dfs=dfs.drop(['._mm','._mmspretus'])

._mmspretus.csv
._mm.csv

In [24]:
dfs

mmnodshiltj         Unnamed: 0  values                        ...
mmakrj              Unnamed: 0   values                       ...
mm129s1svimj        Unnamed: 0   values                       ...
mmc57bl6nj          Unnamed: 0   values                       ...
mm                   Unnamed: 0   values                      ...
mmnzohlltj          Unnamed: 0   values                       ...
mmfvbnj             Unnamed: 0         values                 ...
mmcasteij           Unnamed: 0   values                       ...
mmcbaj              Unnamed: 0   values                       ...
mmdba2j             Unnamed: 0   values                       ...
mmaj                Unnamed: 0   values                       ...
mmspretus           Unnamed: 0    values                      ...
mmc3hhej            Unnamed: 0   values                       ...
mmbalbcj            Unnamed: 0   values                       ...
mmwsbeij            Unnamed: 0   values                       ...
mmlpj               Unnamed: 0   values                       ...
mmpwkphj            Unnamed: 0         values                 ...
dtype: object

In [11]:
#get the genes without repetition for each strain
def get_unique_genes(df):
    global unique_genes
    unique_genes+=list(df['values'].unique())
    
unique_genes=[]
dfs.apply(get_unique_genes)
unique_genes=pd.Series(unique_genes)
gene_frequencies=unique_genes.value_counts()
#gene count 16 means that the given intragenic numt is present in every strain
gene_frequencies[gene_frequencies>15]

Dysf       17
Fhad1      17
Notch4     17
Ptprn2     17
Lrp3       17
Fry        17
Gpr68      17
Angpt1     17
Mrc1       17
Dlg2       17
Prmt8      17
Tbx20      17
Asxl3      17
Esrrg      17
Smyd3      17
Dytn       17
Atg7       17
App        17
Zfp804b    17
Nedd4l     17
Kctd3      17
Gm20594    17
Nckap5     17
Cep295     17
Stxbp4     17
Mir6481    16
Zdhhc3     16
Dpy19l2    16
Ptprd      16
Naaa       16
Lgi3       16
Myo18b     16
Ces1f      16
Rnf38      16
dtype: int64

In [12]:
#add strain name to strain specific dataframes
def add_strain_name(df):
    global df_indexer
    strain=dfs.index.values[df_indexer]
    df_indexer+=1
    df['strain']=len(df)*[strain]
    
    
df_indexer=0
dfs.apply(add_strain_name)

mmnodshiltj     None
mmakrj          None
mm129s1svimj    None
mmc57bl6nj      None
mm              None
mmnzohlltj      None
mmfvbnj         None
mmcasteij       None
mmcbaj          None
mmdba2j         None
mmaj            None
mmspretus       None
mmc3hhej        None
mmbalbcj        None
mmwsbeij        None
mmlpj           None
mmpwkphj        None
dtype: object

In [13]:
#merge the dataframes
merge_input=[]
dfs.apply(lambda df: merge_input.append(df))

merged_df=pd.concat(merge_input)
merged_df

    Unnamed: 0  values                                        ind       strain
0            1   mt-Tt     4:90147110:90148412.external_gene_name  mmnodshiltj
1            2  mt-Nd6     4:90146480:90147099.external_gene_name  mmnodshiltj
2            3  Cep295     9:14304025:14304904.external_gene_name  mmnodshiltj
3            4  Cep295     9:14302416:14303303.external_gene_name  mmnodshiltj
4            5  Myo18b   5:128928004:128928647.external_gene_name  mmnodshiltj
..         ...     ...                                        ...          ...
54          55    Dlg2     7:83645852:83646003.external_gene_name     mmpwkphj
55          56  Ptprn2  12:109465028:109465121.external_gene_name     mmpwkphj
56          57  Nckap5   1:123066175:123066247.external_gene_name     mmpwkphj
57          58    Lrp3     7:26837082:26837148.external_gene_name     mmpwkphj
58          59    Dysf     6:80089045:80089102.external_gene_name     mmpwkphj

[1167 rows x 4 columns]

In [14]:
#check the count for every gene in every strains
def gene_checker(gene):
    subdf=merged_df.loc[merged_df['values']==gene]
    counts=subdf['strain'].value_counts()
    return(counts)
gene_counts=pd.Series(merged_df['values'].unique()).apply(gene_checker)
gene_counts.index=merged_df['values'].unique()
gene_counts

,mmnodshiltj,mm129s1svimj,mmc57bl6nj,mmnzohlltj,mmfvbnj,mmcasteij,mmcbaj,mmdba2j,mmaj,mmc3hhej,mmbalbcj,mmwsbeij,mmlpj,mmakrj,mmpwkphj,mmspretus,mm
mt-Tt,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN
mt-Nd6,1.0,1.0,1.0,2.0,1.0,2.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0,NaN,NaN,NaN
Cep295,4.0,4.0,4.0,4.0,4.0,6.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,6.0,5.0,4.0
Myo18b,1.0,NaN,2.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0
Gm20594,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Htra3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
Prrc1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
Il17ra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN
Cntnap5b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lrrc4c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN

In [15]:
#all genes through all strains
mm_nas=gene_counts.apply(lambda row:row['mm'],axis=1)
mm_nas

mt-Tt       NaN
mt-Nd6      NaN
Cep295      4.0
Myo18b      1.0
Gm20594     1.0
           ...
Htra3       NaN
Prrc1       NaN
Il17ra      NaN
Cntnap5b    NaN
Lrrc4c      NaN
Length: 147, dtype: float64

In [16]:
#get the gene names which are present in mm
mm_genes=mm_nas.dropna()
mm_genes

Cep295      4.0
Myo18b      1.0
Gm20594     1.0
Nedd4l      1.0
Zfp804b     1.0
           ...
Gm50313     2.0
Septin10    1.0
Gm53043     1.0
Gm52985     1.0
Gm53016     2.0
Length: 116, dtype: float64

In [17]:
#get the genes that are present in mm and not mitochondrial genes
gene_mask=pd.Series(list(set(mm_nas.index.values)-set(mm_genes.index.values))).apply(lambda gene: 'mt' not in gene)
#genes of interest are the genes that are present in other strains but not in mm and not mitochondrial genes
gois=pd.Series(list(set(mm_nas.index.values)-set(mm_genes.index.values)))[gene_mask]
gois

0        Lrrc4c
1         Ptprc
2         Prrc1
3        Cacnb4
4         Rad17
5        Il17ra
7     Hist1h2bq
8        Sept10
12          Dse
17         Ano4
18       Slc5a8
19        Htra3
20    Hist1h2br
24        Kif1b
27      Olfr724
28     Cntnap5b
30      Col11a1
dtype: object

In [18]:
gois_count=gois.apply(lambda goi: gene_counts.loc[goi])
gois_count.index=gois
gois_count

,mmnodshiltj,mm129s1svimj,mmc57bl6nj,mmnzohlltj,mmfvbnj,mmcasteij,mmcbaj,mmdba2j,mmaj,mmc3hhej,mmbalbcj,mmwsbeij,mmlpj,mmakrj,mmpwkphj,mmspretus,mm
Lrrc4c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
Ptprc,1.0,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN
Prrc1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
Cacnb4,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rad17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
Il17ra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN
Hist1h2bq,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sept10,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN
Dse,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN
Ano4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN
Slc5a8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN
Htra3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
Hist1h2br,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Kif1b,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Olfr724,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
Cntnap5b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Col11a1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN

In [21]:
#https://www.nature.com/articles/s41588-018-0223-8#Sec1
wild_derived_mice=pd.Series(['mm','mmcasteij','mmpwkphj','mmspretus','mmwsbeij'])
wild_derived_mice.index=['mm','mmcasteij','mmpwkphj','mmspretus','mmwsbeij']
wild_derived_mice.apply(lambda strain: gois_count[strain]).transpose()

           mm  mmcasteij  mmpwkphj  mmspretus  mmwsbeij
Lrrc4c    NaN        NaN       NaN        NaN       1.0
Ptprc     NaN        1.0       1.0        1.0       NaN
Prrc1     NaN        NaN       NaN        1.0       NaN
Cacnb4    NaN        1.0       NaN        NaN       NaN
Rad17     NaN        NaN       NaN        1.0       NaN
Il17ra    NaN        NaN       NaN        1.0       NaN
Hist1h2bq NaN        NaN       NaN        NaN       NaN
Sept10    NaN        1.0       1.0        NaN       1.0
Dse       NaN        NaN       NaN        2.0       NaN
Ano4      NaN        NaN       NaN        3.0       NaN
Slc5a8    NaN        NaN       NaN        2.0       NaN
Htra3     NaN        NaN       NaN        1.0       NaN
Hist1h2br NaN        NaN       NaN        NaN       NaN
Kif1b     NaN        NaN       NaN        NaN       NaN
Olfr724   NaN        NaN       NaN        NaN       1.0
Cntnap5b  NaN        NaN       NaN        NaN       NaN
Col11a1   NaN        NaN       NaN        1.0       NaN