In [2]:
#import required modules
import os
import numpy as np
import pandas as pd

In [4]:
#read in the csv files
parent_dir=os.path.join('/Volumes/motilin/balint/numt/mice_strains_numt/csvs/')
dfs=pd.Series(os.listdir('/Volumes/motilin/balint/numt/mice_strains_numt/csvs/')).apply(
lambda filename: pd.read_csv(parent_dir+filename) if filename.count('.')==1 else print(filename))
dfs.index=pd.Series(os.listdir('/Volumes/motilin/balint/numt/mice_strains_numt/csvs/')).apply(
    lambda filename:filename[:-4])
dfs=dfs.drop(labels=['._Mus_musculus_fvbnj_numts','Mus_musculus_lpj_numts','Mus_musculus_c3hhej_numts','Mus_musculus_balbcj_numts',
                                           'Mus_musculus_aj_numts','Mus_musculus_nodshiltj_numts','Mus_musculus_akrj_numts',
                                           'Mus_musculus_dba2j_numts','Mus_musculus_129s1svimj_numts','Mus_musculus_cbaj_numts',
                                           'Mus_musculus_nzohlltj_numts','Mus_musculus_fvbnj_numts','Mus_musculus_c57bl6nj_numts'])

._Mus_musculus_fvbnj_numts.csv

In [5]:
dfs

Mus_musculus_casteij_numts          score      eg2_value        e_value g_id ...
Mus_musculus_wsbeij_numts           score      eg2_value        e_value g_id ...
Mus_musculus_pwkphj_numts           score      eg2_value        e_value g_id ...
Mus_musculus_numts                  score      eg2_value        e_value g_id ...
Mus_musculus_spreteij_numts         score      eg2_value        e_value g_id ...
dtype: object

In [6]:
dfs['Mus_musculus_numts']

,score,eg2_value,e_value,g_id,g_start,mt_start,g_length,mt_length,g_strand,mt_strand,g_size,g_sequence,mt_sequence
0,16298,0.000000e+00,0.000000e+00,MT,0,0,16298,16298,+,+,16299,GTTAATGTAGCTTAATAACAAAGCAAAGCACTGAAAATGCTTAGAT...,GTTAATGTAGCTTAATAACAAAGCAAAGCACTGAAAATGCTTAGAT...
1,2464,0.000000e+00,0.000000e+00,4,79920566,12487,2871,2869,+,+,156860686,AAGTACAATAGTAGTTGCAGGAATCTTTCTACTGGTCCGATTTCAC...,AAGTACAATAGTAGTTGCAGGAATTTTCCTACTGGTCCGATTCCAC...
2,731,0.000000e+00,0.000000e+00,5,84766087,4846,1588,1594,+,+,151758149,AAAATAATTACCCACCACACATGCTTCAAAAATAACTTTATCCTTc...,AAAataataactcaCCAAACAAAAACTAAACCCAACCTAATATTTT...
3,695,0.000000e+00,0.000000e+00,4,9958624,3198,1326,1316,+,+,156860686,TTATATCAGTCCTATTAATAAGCAGGTCACTTTCTCTACAAATATG...,TTTTATCAGTTCTATTAATAAATGGATCCTACTCTCTACAAACACT...
4,618,2.300000e-277,3.800000e-281,5,7326298,14714,1002,1000,+,+,151758149,GCCATAGTAATTTTTCATCTCCTTTTTCCTTCACAAAACAGGATCA...,GCCCTAGCAATCGTTCACCTCCTCTT-CCTCCACGAAACAGGATCA...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,41,1.000000e-02,1.800000e-06,1,38753807,10510,72,71,+,-,195154279,CCAGCTAAATGTAGAGAAAAAAATTGTTAGACCGACTGATGCTCCT...,CCAGCTAAATGAAGGGAGAAAA-TTGTTAGGTCTACTGATGCTCCT...
150,41,1.000000e-02,1.800000e-06,6,84023575,3835,57,57,+,-,149588044,GTTGGGCCTTCTATAGCTGATGGAAGTCATGGATGAAGTCCGAATT...,GTAGGGCCTTCTATTGCTGATGGTAGTCATGGGTGGAGGCCAAATT...
151,41,1.000000e-02,1.800000e-06,11,48196043,3006,77,77,+,-,121973369,ATTTGTTTTGTCTGTGGAAAATTTTATAGTTAGGTTGCTTAGTTCT...,ATTTGCTTTATTTATTGATAGTTTTATGGTTAGGTTGTTTAGTTCT...
152,38,2.700000e-01,4.700000e-05,8,39205647,4186,66,66,+,-,130127694,AATAGTATTAGATATTTAATAAATCAGTTAATATGTAGGTCTGAGT...,AATAGTGTAAGATATTTAATGAATCGATTGATGTTTGGGTCTGAGT...
153,38,2.700000e-01,4.700000e-05,15,57354615,16249,50,50,+,-,104073951,TCCATCTAAGCATTTTCAGTGTTGTGCTTTATAATTAAACTACATT...,TCCATCTAAGCATTTTCAGTGCTTTGCTTTGTTATTAAGCTACATT...

In [22]:
def add_strain(df):
    global strain_counter
    df['strain']=len(df)*[dfs.index.values[strain_counter][:-6]]
    strain_counter+=1

strain_counter=0
dfs.apply(add_strain)

Mus_musculus_lpj_numts           None
Mus_musculus_c3hhej_numts        None
Mus_musculus_balbcj_numts        None
Mus_musculus_aj_numts            None
Mus_musculus_casteij_numts       None
Mus_musculus_nodshiltj_numts     None
Mus_musculus_akrj_numts          None
Mus_musculus_wsbeij_numts        None
Mus_musculus_dba2j_numts         None
Mus_musculus_129s1svimj_numts    None
Mus_musculus_pwkphj_numts        None
Mus_musculus_numts               None
Mus_musculus_cbaj_numts          None
Mus_musculus_nzohlltj_numts      None
Mus_musculus_fvbnj_numts         None
Mus_musculus_c57bl6nj_numts      None
Mus_musculus_spreteij_numts      None
dtype: object

In [95]:
dfs=dfs.apply(lambda df:df.sort_values(by='mt_start'))

In [160]:
def get_cob_pseudogenes(df):
    v1=df[df['mt_start']>14000]
    v2=v1[v1['mt_start']<15000]
    return(v2.loc[v2['g_id']=='1'])

cob_pseudogenes=dfs.apply(get_cob_pseudogenes)
cob_pseudogenes=cob_pseudogenes.drop(labels=['Mus_musculus_lpj_numts','Mus_musculus_c3hhej_numts','Mus_musculus_balbcj_numts',
                                           'Mus_musculus_aj_numts','Mus_musculus_nodshiltj_numts','Mus_musculus_akrj_numts',
                                           'Mus_musculus_dba2j_numts','Mus_musculus_129s1svimj_numts','Mus_musculus_cbaj_numts',
                                           'Mus_musculus_nzohlltj_numts','Mus_musculus_fvbnj_numts','Mus_musculus_c57bl6nj_numts'])
cob_pseudogenes

Mus_musculus_casteij_numts         score     eg2_value       e_value g_id   g...
Mus_musculus_wsbeij_numts          score     eg2_value       e_value g_id   g...
Mus_musculus_pwkphj_numts          score     eg2_value       e_value g_id   g...
Mus_musculus_numts                 score     eg2_value       e_value g_id   g...
Mus_musculus_spreteij_numts        score     eg2_value       e_value g_id   g...
dtype: object

In [183]:
def get_pseudogene_sequences(df):
    global cob_pseudogene_sequences
    cob_pseudogene_sequences.append(df['g_sequence'].tolist()[0].upper().replace('-',''))
cob_pseudogene_sequences=[]
cob_pseudogenes.apply(get_pseudogene_sequences)

Mus_musculus_casteij_numts     None
Mus_musculus_wsbeij_numts      None
Mus_musculus_pwkphj_numts      None
Mus_musculus_numts             None
Mus_musculus_spreteij_numts    None
dtype: object

In [185]:
cob_pseudogene_sequences=pd.Series(cob_pseudogene_sequences)
cob_pseudogene_sequences.index=cob_pseudogenes.index.values
cob_pseudogene_sequences

Mus_musculus_casteij_numts     GGATTAGATTCTGATGCAAATAAAATTCCATTTCACCCCTACTACA...
Mus_musculus_wsbeij_numts      GGATTAGATTCTGATGCAAATAAAATTCCATTTCACCCCTACTACA...
Mus_musculus_pwkphj_numts      GGATTAGATTCTGATGCAAATAAAATTCCATTTCACCCCTACTACA...
Mus_musculus_numts             GGATTAGATTCTGATGCAAATAAAATTCCATTTCACCCCTACTACA...
Mus_musculus_spreteij_numts    GGATTAGATTCTGATGCAAATAAAATTCCATTTCACTCCTACTACA...
dtype: object

In [186]:
cob_pseudogene_sequences['Mus_musculus_numts']

'GGATTAGATTCTGATGCAAATAAAATTCCATTTCACCCCTACTACACTATCAAAGGAATCATAGGCCTCTTCTTTTTATTCTTTTATCCCCATAATCTTAATCTTATTTCCCCCTCATTGCTTAGGAGACCCTGACCATTATACTCCAGGCAGACTATTCAACCACTCCCCACATTAAACCTGAGTAATATTTCCTATTGCCTCCACTATCTTCCATCTCTCCCCATCAAACTAGAAGGTGTGGTAGCTTGGTCCTCTCAATTCTCACCTTGACTTTCCTTCCATTTCCTCCCCATCTCAAAACAACGCAGTCTCACATCCCATCCACTCACCCAGTCCCTATACTGAATCCTGGTTGCTGATCTACTCATCCTCACATGAACTGGTGGGCAACCAACAGAACCCCCATTCATTACTATTGGCCAATTACACTCCATTATTTCTTTCTCTGTTTTCCTAATTTTAATACCTATTTCTGGCCTATTGAAAATAAAATGTTTAAATGGACTCAAAGTCCCAGCAGACTAAATACTTCAGTCTTGTAAACTAAAAGTGAATAACTAATTTTATTAGGACATCAAGGAAGAAGGCCCTCCACTGTCAACACCCAAAGCTGATATTCTCCTCAAACTACT'

In [197]:
cob_pseudogene_sequences['Mus_musculus_spreteij_numts']

'GGATTAGATTCTGATGCAAATAAAATTCCATTTCACTCCTACTACACTATCAAAGGTATCATAGGCCTCTTATTTTTATTCTTTTATCCCCATAATCTTAGTCTTATTTCCCCCTCATTGCTTAGGAGACCCTGACCATTACACTCCAGGCAACCCCTCCCCACATTAAACCTGAGTAATATTTCCTATTGCCTACACTATCTTCCATCTCTCCCCATCAAACTAGAAGGTGTGGTAGCTTGATCCTCTCAATTCTCACCTTGCCTTTCCTTCCATTTCCTCCCCATCTCAAAACAACGCAGTCTCACATCCCATCCACTCACCCAGTCCCTATACTTAATCCTGGTTGCTGATCTACTCATCCTCACATGAACTGGTGGGCAACCCACAGAACCCCCATTCATTATTATTGGCCAATTACACTCCATTATTTCTTTCTCTGTTTTCCTCATTTTAATACCTATTTCTGGTATTGAAAATAAAATGTTTAAATGGACTCAAAGTCCCAGCAGACTAAATACTTCAGTCTTGTAAATTAGAAGTGAATAACTAATTTTATTAGGACATTAAGGAAGAAGGCCCTCCACTGTCAGCACCCAAAGCTGATATTCTCCTCAAGCTACT'

In [124]:
wild_derived=pd.Series(['Mus_musculus_numts','Mus_musculus_casteij_numts','Mus_musculus_pwkphj_numts',
              'Mus_musculus_spreteij_numts','Mus_musculus_wsbeij_numts'])
wild_derived_cobs=wild_derived.apply(lambda strain: dfs[strain])
wild_derived_cobs.index=wild_derived
wild_derived_cobs

Mus_musculus_numts                  score      eg2_value        e_value g_id ...
Mus_musculus_casteij_numts          score      eg2_value        e_value g_id ...
Mus_musculus_pwkphj_numts           score      eg2_value        e_value g_id ...
Mus_musculus_spreteij_numts         score      eg2_value        e_value g_id ...
Mus_musculus_wsbeij_numts           score      eg2_value        e_value g_id ...
dtype: object

In [70]:
def get_mitos_dfs(filename):
    try:
        df=pd.read_csv(f'/Volumes/motilin/balint/numt/mice_strains_numt/mt_annotations/{filename}',sep='\t',
                       header=None)
        return(df)
    except:
        return(np.nan)
    
mitos_dfs=pd.Series(os.listdir('/Volumes/motilin/balint/numt/mice_strains_numt/mt_annotations/')).apply(get_mitos_dfs)
mitos_dfs.index=pd.Series(os.listdir('/Volumes/motilin/balint/numt/mice_strains_numt/mt_annotations/')).apply(
    lambda filename: filename.split('.')[0])
mitos_dfs=mitos_dfs.dropna()
mitos_dfs

cbaj                      0      1      2           3       ...
aj                        0      1      2           3       ...
mm                 0      1      2           3             4...
nzohlltj                  0      1      2           3       ...
akrj                      0      1      2           3       ...
pwkphj                    0      1      2           3       ...
129s1svimj                0      1      2           3       ...
c57bl6nj                  0      1      2           3       ...
lpj                       0      1      2           3       ...
nodshiltj                 0      1      2           3       ...
balbcj                    0      1      2           3       ...
casteij                   0      1      2           3       ...
dba2j                     0      1      2           3       ...
c3hhej                    0      1      2           3       ...
fvbnj                     0      1      2           3       ...
wsbeij                    0      1      2           3       ...
spretus                   0      1      2           3       ...
dtype: object

In [132]:
wild_derived=pd.Series(['mm','casteij','pwkphj','spretus','wsbeij'])
wild_derived_mitos=wild_derived.apply(lambda strain:mitos_dfs[strain])
wild_derived_mitos.index=wild_derived
wild_derived_mitos

mm              0      1      2           3             4...
casteij                0      1      2           3       ...
pwkphj                 0      1      2           3       ...
spretus                0      1      2           3       ...
wsbeij                 0      1      2           3       ...
dtype: object

In [141]:
wild_derived_mitos.apply(lambda df:df.loc[df[3]=='cob'])['mm']

     0      1      2    3            4  5
34  MT  14144  15275  cob  242474318.6  +